a.header__logo(href='#')
  img.header__logo-img(src="/assets/images/logo/logo__mobil.png", width=48, height=47)

a.header__cart(href='#')
  span.header__cart-counter
    | 10
div.header__menu-burger(href='#')
  span
  span
  span
